.search_block{
    display: flex;
    margin:16px 0px 0px 640px;
}
.Product_sell{
    margin: 15px 0px 0px 22px;
}
.tani1{
    background-image: url('../Images/search-symbol.png');
    background-size: cover;
    height: 15px;
    width: 15px;
    margin: 6px 4px;
   
}
.tani{
    height: 27px;
    width: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f2efff;
    border: 2px solid transparent;
}
.input_custom{
    height: 24px;
    width: 120px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f2efff;
    border: 3px solid transparent;
    color: grey;
}
.select_custom{
    height: 30px;
    width: 120px;
    border-radius: 5px;
    background-color: #f2efff;
    border: 3px solid transparent;
    color: grey;
    font-size: 12px;
    margin: 16px 0px 0px 4px;
}
.flex{
    display: flex;
}
.second_block{
    display: flex;
    margin: 28px 0px 0px 24px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(182, 177, 177);
}
.list_flex{
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    width: 480px;
    list-style: none;
    margin-left: 500px;
}
.content_custom{
    display: flex;
    list-style: none;
    padding-top:20px ;
}
.image_custom{
    background-size: cover;
    height: 36px;
    width:58px;
    border-radius: 5px;
}
.content_image1{
    background-image: url('../Images/diamond.jpeg');
}
.content_image2{
    background-image: url('../Images/blue_img.jpeg');
}
.content_image3{
    background-image: url('../Images/yellow_img.jpg');
}
.flex_custom1{
    margin-left: 10px;
}
.flex_custom1 h6{
    color: rgb(182, 177, 177);
}
.flex_custom2{
    margin-left: 345px;
}
.flex_custom3{
    margin-left: 55px;
}
.flex_custom4{
    margin-left: 90px ;
}