*{
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 1000px;
}
.sidebar{
  background-color: rgba(4,4,64,255);
  color: rgba(132,137,168,255);
  height:1000px;
  width: 16%;
  border:2px solid transparent;
}
.side_head{
  height: 65px;
  width: 200px;
  margin: 30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}
.side_head:hover{
font-size: 18px;
}
.side_blocks{
  height: 30px;
  width: 200px;
  margin: 30px 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.side_blocks:hover{
  background-color: rgba(45,45,105,255);
  color:white;
}
.icon_style{
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 16px; 
  height: 16px;
  margin:0px 10px 0px 10px;
  border: 2px solid rgba(201,202,218,255) ;
  border-radius: 5px;
  padding: 3px;
}
.icon_style_other{
  width: 25px; 
  height: 25px;
  background-size: cover;
  margin:0px 10px 0px 10px;
}
.icon1 {
  background-image: url('../Images/key.png');
}
.icon2 {
  background-image: url('../Images/3d-cube.png');
}
.icon3 {
  background-image: url('../Images/avatar.png');
}
.icon4 {
  background-image: url('../Images/wallet.png');
}
.icon5 {
  background-image: url('../Images/promotions.png');
}
.icon6 {
  background-image: url('../Images/chat.png');
}
.icon7 {
  background-image: url('../Images/nut.png');
  height: 40px;
  width: 40px;
}
.icon8 {
  background-image: url('../Images/tanishq_photo.jpg');
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.sidebar_bottom{
  height: 50px;
  width: 220px;
  background-color: rgba(4,4,64,255);
  margin: 170px 2px 6px 10px;
  
}
.sidebar_bot{
  height: 50px;
  width: 220px;
  background-color:rgba(45,45,105,255) ;
  border-radius: 5px;
  margin: 200px 2px 6px 10px;
  color:white;
  font-size: 14px;
  position: sticky;
  bottom: 10px;
}
.sidebar_bottom2{
  height: 100px;
  margin: 170px 2px 6px 10px;
  padding: 5px;
  font-size: 15px;
}
.sidebar_bot:hover{
  background-color: rgba(184, 204, 209, 0.454);
}
.side_custom{
  font-size: 10px;
  color:rgba(132,137,168,255);
  margin-left: 8px;
}
.sider_block{
  background-color: rgba(4,4,64,255);
}


